// VARIABLES
$page-width : 500px;
$page-height : 500px;
$container-width : $page-width;
$container-height : calc(#{$page-height} - 20px);

// EXTENDS
.rotateDiv {
  transform : rotate(45deg) translateX(90px);
  }
